.coursemain {
  margin-top: 68px;
  margin-left: 208px;
  height: 100vh;
}
.pre {
  color: #102542;
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-weight: 700;
}
.taskbox {
  background: white;
  color: #102542;

  font-family: ibm-plex-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 8px;
  margin-right: 8px;
  padding-bottom: 8px;

}
.tasktitle {
  padding-left: 8px;
  font-size: 18px;
  }
.line {
  margin-left: 8px;
  margin-top: -12px;
  width:98%;
  background-color: #B3A394;
  height: 4px;

}
