.faqs {
  margin-left: 16px;
  height: 100vh;
}
.faqstitle {
  margin-top: 80px;
  margin-bottom: 16px;
  color: white;
  font-size: 80px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}
.faqssub {
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin-bottom: 0px;
}
.faqstext {
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}
