body {
  background-color: #F87060;
};
.title {
  position: absolute;
  top: 15%;
  color: white;
  font-size: 120px;
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 24px;
}
