.join {
  height: 100%;
}

.jointitle {
  color: white;
  font-size: 120px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  margin-top: 36px;
  width: 500px;
  padding-top: 20px;
}
.joinsub {
  color: white;
  font-size: 60px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  margin-top: -100px;
  position: relative;
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.joinbox {
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  background: white;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 1000px;
  height: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 8px;
}

.pt {
  padding-left:24px;
  padding-right: 24px;
  height: 80px;
  margin-bottom:8px;
  margin-top: 8px;
}
.joinbtn {
  background-color:#102542;
  position: relative;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 16px;
};
.buttontext2 {
  position: absolute;
  top:20px;
  width: 300px;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  margin: auto;
}
