.tt {
  min-height:90vh;
}
.TTtitle {
  padding-left: 32px;
  color: white;
  font-size: 80px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.TTtext {
  padding-left: 32px;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  width: 40%;
}
