<div class="faqs">
  <h1 class="faqstitle">
    FAQs
  </h1>
  <h2 class="faqssub">
    What do I need to complete this course
  </h2>
  <p class='faqstext'>
    This course is priced considerably cheaper than 99% of high level performing arts training courses in an effort for us make this kind of training available for as many people as possible. One of the biggest ways we help to keep the cost down is avoiding paying out for studio hire. Therefore each student will need a good wifi, a laptop or ipad, zoom downloaded and a small amount of space capable of completing dance routines and fitness classes.
  </p>
  <h2 class="faqssub">
    Is your course available worldwide?
  </h2>
  <p class="faqstext">
    Our course is made to be as accesible and affordable as possible, offering west end and broadway level tuition to anyone and therefore can be taken by ANYONE, ANYWHERE. Each day we have live classes which we encourage our students to take part in live, allowing for fluctuations in time difference. However, huge amounts of the coursework, pre recorded material and challenges are available online to be completed at any time. Students are also partnered with a teaching assistant to support schedule management and progress along the course.
  </p>
  <h2 class="faqssub">
    Is your course safe?
  </h2>
  <p class="faqstext">
    Our team is entirely DBS checked, and have all taken part in online safety workshops to ensure the safety of staff and students taking part in our course. We take the wellbeing of our students extremely seriously, so much so that all students take part in a mental health/wellness and the arts workshop to help introduce safe practices within the first steps of this career.
  </p>
</div>
