<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">FRIDAY</h1>
  <h1 class="weektitle">WEEK THREE</h1>
  </div>
  <div class="subnav1">
      <a class="subnavbtn1" href="#">Final Performance! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
  Today you’re going to perform both songs and both monologues for the rest of the class.
  <br><br>
  You have come so far, on behalf of all the staff we want to thank you for your hard work, now go and smash your audition and we hope to see you onstage in the not so distant future.
</p>
</div>
</div>
</div>
