<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">FRIDAY</h1>
  <h1 class="weektitle">WEEK TWO</h1>
  </div>

    <div class="subnav1">
    <a class="subnavbtn1" href="#">Watch and complete stretch video (30 mins)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <div class="videobox">
      <p class='subnavtext-vid'>This 30 min stretch video is designed to warm up your muscles, begin to increase your flexiblity and introduce standard exercises used by schools.
Even if dance isn’t your strong suit, drama schools are looking a willingness to learn and someone is teachable!
Find some space, grab some water and work through this video to start your day.</p>
    <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
    </div>
    </div>
  </div>

  <div class="subnav1">
    <a class="subnavbtn1" href="#">Masterclass! (1 hour) <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>We are so excited to bring you the first masterclass, with Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
      <br>
       Porro nemo enim, libero consequatur? Iusto impedit, vel dolore illum aperiam ducimus quidem quaerat officiis suscipit saepe culpa veritatis facilis sint iste?</p>
      <h5>
       ZOOM LINK
       </h5>
    </div>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Audition Technique Group Class (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>First group meeting to talk through some basics of audition technique, what to and not to do and how to put your best foot forward in the scary world of auditions!
    </p>
    <br>
    <h5>
       ZOOM LINK
    </h5>
    </div>
  </div>


</div>
