<div class="all">
  <div class="pt1">
  <div class='hometext'>
  <h1 class='title'>
    NEXT GEN
    <br>
    THEATRE
  </h1>
  <h2 class='subtitle'>Nail your drama school audition with our 3 week intensive
  <br>
  to help prepare you for the first step in your career.</h2>
  </div>
  </div>

  <div class="pt2">
    <h1 class="pt2heading">SOUND FAMILIAR?</h1>
    <ul class="pt2list">
      <li>
        <p>Want to go to drama school but don’t know where to start?</p>
      </li>
      <li>
        <p>No idea where to find audition materials/cuts
        </p>
      </li>
      <li>
        <p>Love performing but overwhelmed by the choice of schools?
        </p>
      </li>
    </ul>
    <ul class="pt2list2">
      <li>
        <p>Don’t know what monologue/song to perform?</p>
      </li>
      <li>
        <p>Want to improve but live too far from high quality training?
        </p>
      </li>
      <li>
        <p>Can’t afford the £500+ a week training from other schools?
        </p>
      </li>
    </ul>
    <button class='pt2button'>
      <p class="buttontext">Join Us</p>
    </button>
  </div>

  <div class="pt3">
  <h1 class='pt3title'>THE COURSE</h1>
  <br>
  <div class='pt3text'>
    <p>
      We provide the world’s first professionally led online intensive pre drama
      school musical theatre course. Learn direct from Broadway + West End Professionals
      with our technology led approach to foundation theatre education.
    </p>
  <ul>
    <li>Live 1-1 tuition with world class teachers</li>
    <li>Pre-recorded workshops.</li>
    <li>Live group training.</li>
    <li>Personally tailored coursework and challenges.</li>
  </ul>
    <p>
    Plus Masterclasses from some of leading figures in the world of TV, film, and theatre as
    well as teaching and audition panel staff from the top drama schools in the world.
    </p>

  </div>
  <button class='pt3button'>
      <p class="buttontext">Book your spot</p>
    </button>
  </div>
</div>
<div class="pt4">
<div class="pt4box">

</div>
</div>
