<div class="join">
  <h1 class="jointitle">
    JOIN US
  </h1>
  <h2 class="joinsub">£399</h2>
<div class="joinbox">
    <p class="pt">Acting and singing tuition from
      leading West End teachers from
      the best drama schools in the world.</p>
    <p class="pt">40+ Hours of online teaching and
    classes for you to push yourself
    as far as you want to go.</p>
    <p class="pt">In depth coaching on how to smash
    your drama school audition. </p>
    <p class="pt">Yoga and fitness classes from qualified
    personal trainers.</p>
    <p class="pt">Interviews with the people making
    the decisions on drama school places</p>
    <p class="pt">Course assistants on hand to help
    formulate and optimise your time with
    Next Gen.</p>
    <p class="pt">Access to our database of audition
    resources including monologues,
    songs, scripts and videos.</p>
    <p class="pt">Masterclasses with the people shaping
    and leading the performing arts
    industry today. </p>
    <p class="pt">Wellbeing and mental health coaching
    and exercises to accompany our
    online teaching platform.</p>
</div>
  <div class='joinbtn'>
    <p class="buttontext2">Join Us</p>
  </div>
</div>
