<div class="coursemain">
<div class="taskbox">
  <h2 class="tasktitle">Watch and complete stretch video (30 mins)
  </h2>
  <div class="innerbox">
    <div class="video"></div>
    <div class="textbox"></div>
  </div>
</div>
</div>
