<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">MONDAY</h1>
  <h1 class="weektitle">WEEK TWO</h1>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Learn Monologue! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>Simple task today, I want you to use this thirty minutes to begin learning one of your monologues. This task requires discipline!  Ultimately, in this industry if you want to go far you have to be super disciplined. Support from teachers, parents, friends will only get you so far - you are the only person who determines how far you can go in the industry and one of the key factors that regulates this is your ability to be self-disciplined. So, let’s test it. See, how far you can get with learning the first of your monologues. If this task is your idea of hell, unfortunately this is very much a part of life as a performer.

Recall audition for a west end show, you are required to learn the lines off by heart, overnight (oh and you’re currently touring in Newcastle on your current show so only have from the show finishing at 10pm, and your 3hr train ride in to London at 7:30am to learn it, and you still want to get 8 hours sleep as you will have to pick up and learn choreography as well - true story!).
    </p>
  </div>
</div>

<div class="subnav1">
      <a class="subnavbtn1" href="#">Fitness Class (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <div class="videobox">
        <p class='subnavtext-vid'>Fitness time! Get some water, get your game face on and lets get fit.
          <br>
        SUPER, SUPER IMPORTANT REMINDER...fitness classes are NOT about changing the way you look, ultimately musical theatre
        requires physical adeptness.
        <br>
        PERFORMERS ARE ATHLETES.
        <br>
        Regardless of your fitness level, getting to a point where you're
        comfortable pushing yourself physically is so, so important. As someone who has made his way through 8 hour audition days,
        with relentless hours of physical work - dirty dancing dance call with Austin for example - I can tell you it is essential
        and drama schools will look to see that you can push yourself physically!
        <br>
        Smash it!
        </p>
      <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
      </div>
      </div>
    </div>

    <div class="subnav1">
    <a class="subnavbtn1" href="#">Attend live MT jazz class (1 hour)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>Today you have your first live class with renowed choreographer and teacher, Austin Wilks. Austin is the choreographer of Dirty Dancing in the West End as well having performed and taught all over the world.
This class will be focused on basic jazz skills, followed by choreography - remember you can only give your best and always remember to use your face when dancing!</p>
      <h5>
       ZOOM LINK
       </h5>
    </div>
  </div>

</div>
