<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">MONDAY</h1>
  <h1 class="weektitle">WEEK THREE</h1>
  </div>

    <div class="subnav1">
      <a class="subnavbtn1" href="#">Learn 2nd Monologue! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
          Yes, you guessed it. It’s week two and we’re getting you ready with your second monologue, however there is only so much work we can do when you don’t know it. So, focus and use the time wisely. Again, self discipline is huge in the performing world, and so is the ability to pick up learn material quickly.

      </div>
  </div>
  <div class="subnav1">
    <a class="subnavbtn1" href="#">Watch and complete stretch video (30 mins)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <div class="videobox">
      <p class='subnavtext-vid'>This 30 min stretch video is designed to warm up your muscles, begin to increase your flexiblity and introduce standard exercises used by schools.
Even if dance isn’t your strong suit, drama schools are looking a willingness to learn and someone is teachable!
Find some space, grab some water and work through this video to start your day.</p>
    <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
    </div>
    </div>
  </div>
  <div class="subnav1">
    <a class="subnavbtn1" href="#">Attend live jazz class (1 hour)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>Today you have your first live class with renowed choreographer and teacher, Austin Wilks. Austin is the choreographer of Dirty Dancing in the West End as well having performed and taught all over the world.
This class will be focused on basic jazz skills, followed by choreography - remember you can only give your best and always remember to use your face when dancing!</p>
      <h5>
       ZOOM LINK
       </h5>
    </div>
  </div>

</div>
