<div class="coursemain">
  <p class="">Hey guys, thank you so much for taking part in our course we are so excited to have you
  with us and cannot wait to share in your journey to help you achieve all you want to in this
industry, starting with smashing  that drama school audition.
  </p>
  <div class="taskbox">
    <h2 class="tasktitle">Watch and complete stretch video (30 mins)
    </h2>
    <div class="line"></div>
      <div class="innerbox">
        <div class="video"></div>
        <div class="textbox"></div>
      </div>
  </div>
</div>
