<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">MONDAY</h1>
  <h1 class="weektitle">WEEK ONE</h1>
  </div>

  <p class="pre">Hey guys, thank you so much for taking part in our course we are so excited to have you
  with us and cannot wait to share in your journey to help you achieve all you want to in this
industry, starting with smashing  that drama school audition.
  </p>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Work through monologue exercise (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>Your acting task for today is to find your first monologue!
    This may sound like a super easy task, however there is so much to take in account when choosing a monologue so I want you to answer IN DEPTH these questions. Each answer should be around 5-6 lines minimum.
    <br>
    1. Why do I like this monologue? What about this monologue attracts me to it/makes me want to perform it. <br>
    2. Is this monologue right for me? Is the character similar to me? Can I relate to what they are going through or describing? <br>
    3. Where is the monologue from? Playwright, Author? Who performed it originally? What is the play called? <br>
    4. Describe the character. Where are they from? What do they look like? Describe them in detail. <br>
    5. Context? What has just happened to the character before this moment? <br>
    </p>
      </div>
  </div>
  <div class="subnav1">
    <a class="subnavbtn1" href="#">Watch and complete stretch video (30 mins)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <div class="videobox">
        <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
      <p class='subnavtext'>This 30 min stretch video is designed to warm up your muscles, begin to increase your flexiblity and introduce standard exercises used by schools.
Even if dance isn’t your strong suit, drama schools are looking a willingness to learn and someone is teachable!
Find some space, grab some water and work through this video to start your day.</p>
    </div>
    </div>
  </div>
  <div class="subnav1">
    <a class="subnavbtn1" href="#">Attend live jazz class (1 hour)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>Today you have your first live class with renowed choreographer and teacher, Austin Wilks. Austin is the choreographer of Dirty Dancing in the West end as well having performed and taught all over the world.
This class will be focused on basic jazz skills, followed by choreography - remember you can only give your best and always remember to use your face when dancing!</p>
    </div>
  </div>
</div>
