<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">MONDAY</h1>
  <h1 class="weektitle">WEEK ONE</h1>
  </div>
  <div class="subnav1">
      <a class="subnavbtn1" href="#">Work through monologue exercise (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>Your task today is to find three potential monologues, this should take a few hours! Email your selections to submission@nexgen.com. We will review your selections, and point you in the right direction if needs be. This is a super important task, as we will eventually narrow this down to two which will be your two monologues for your drama school auditions! Your deadline for this is Thursday.
          <br><br>
          Finding monologues is a continuous struggle for professional actors so get used to this! Finding one suits you just right, that you can get in to easily, that allows you to show off and isn’t done by every other person auditioning is a hard ask.  With our help and assistance from your 1-1 lessons we will demystify the process and help you find the perfect monologue to show your strengths as an actor and help you smash this section of the audition process. As well as getting you used to this process so you can do it when you are finished with the course.
          <br><br>
          1. Look through our library of monologues to see if there is anything there that takes your fancy, or interests you.  Other resources to look through - https://www.themonobox.co.uk/monolibrary - https://www.dailyactor.com/monologues - http://www.monologuearchive.com/ - http://www.monologuedb.com/  Look for characters who are the same casting as you, same sort of age and same accent as you. In a drama school audition the panel want to see you - whilst it may be tempting to show off an accent, try not to go too far out ‘the box’ and only ever do an accent if you are able to aptly portray a native - there is nothing worse than an audition with a dodgy, or even ok accent, this can take the focus away from your acting ability and stop the panel from seeing how good you are.  Try wherever possible to make your monologue entertaining as opposed to hard-hitting, extremely deep monologues. You will always get further with a well done cheerful, pleasant monologue over a badly done monologue with loads of shouting, crying or swearing. It can be tempting to demonstrate how good you are by showing extremity of emotion, but as you will find as your career progresses it is 100x harder to produce a natural, believable performance that shows what you can do over shouting and screaming at an audition panel.

      </div>
  </div>
  <div class="subnav1">
    <a class="subnavbtn1" href="#">Watch and complete stretch video (30 mins)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <div class="videobox">
      <p class='subnavtext-vid'>This 30 min stretch video is designed to warm up your muscles, begin to increase your flexiblity and introduce standard exercises used by schools.
Even if dance isn’t your strong suit, drama schools are looking a willingness to learn and someone is teachable!
Find some space, grab some water and work through this video to start your day.</p>
    <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
    </div>
    </div>
  </div>
  <div class="subnav1">
    <a class="subnavbtn1" href="#">Attend live jazz class (1 hour)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>Today you have your first live class with renowed choreographer and teacher, Austin Wilks. Austin is the choreographer of Dirty Dancing in the West End as well having performed and taught all over the world.
This class will be focused on basic jazz skills, followed by choreography - remember you can only give your best and always remember to use your face when dancing!</p>
      <h5>
       ZOOM LINK
       </h5>
    </div>
  </div>
</div>
