

 <div id="mySidenav" class="sidenav">
  <div class="subnav">
  <a class="subnavbtn" href="#">Week 1 <i class="fa fa-caret-down"></i></a>
    <div class="subnav-content">
      <a href="#company">Monday</a>
      <a href="#team">Wednesday</a>
      <a href="#careers">Friday</a>
    </div>
  </div>
    <div class="subnav">
    <a class="subnavbtn" href="#">Week 2 <i class="fa fa-caret-down"></i></a>
    <div class="subnav-content">
      <a href="#company">Monday</a>
      <a href="#team">Wednesday</a>
      <a href="#careers">Friday</a>
    </div>
  </div>
    <div class="subnav">
    <a class="subnavbtn" href="#">Week 3 <i class="fa fa-caret-down"></i></a>
    <div class="subnav-content">
      <a href="#company">Monday</a>
      <a href="#team">Wednesday</a>
      <a href="#careers">Friday</a>
    </div>
</div>
</div>

<!-- Use any element to open the sidenav -->
<span  onclick="openNav()"><p class="proftitle">View your tasks</p></span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <h1 class="proftitle"><h1>Hi <%= "#{current_user.first_name}"%></h1>

  <%= link_to edit_user_registration_path do %>
  <div class="edit">
  <h2>Complete your profile</h2>
  </div>
  <% end  %>
</h1>

</div>




