<h1 class="proftitle"><h1>Hi <%= "#{current_user.first_name}"%></h1>

<%= link_to edit_user_registration_path do %>
  <div class="edit">
  <h2>Complete your profile</h2>
  </div>
  <% end  %>
</h1>


