<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">THURSDAY</h1>
  <h1 class="weektitle">WEEK ONE</h1>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Private Acting Lesson (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
          You should have now been given your one-to-one acting slot with our expert acting teacher.
          <br>
          Together you will work on your monologues, beginning the process of creating a fantastic monologue to wow the audition panels at your chosen drama schools.
          <br>
          Be open, listen to your teacher and most importantly have fun!
        </p>
      </div>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Complete singing homework! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>You got this!
    </p>
  </div>
</div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Begin learning monologues! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>You got this!
    </p>
  </div>
</div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Fitness Class (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <div class="videobox">
        <p class='subnavtext-vid'>Fitness time! Get some water, get your game face on and lets get fit.
          <br>
        SUPER, SUPER IMPORTANT REMINDER...fitness classes are NOT about changing the way you look, ultimately musical theatre
        requires physical adeptness.
        <br>
        PERFORMERS ARE ATHLETES.
        <br>
        Regardless of your fitness level, getting to a point where you're
        comfortable pushing yourself physically is so, so important. As someone who has made his way through 8 hour audition days,
        with relentless hours of physical work - dirty dancing dance call with Austin for example - I can tell you it is essential
        and drama schools will look to see that you can push yourself physically!
        <br>
        Smash it!
        </p>
      <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
      </div>
      </div>
    </div>




</div>
