<div class="tt">
<h1 class="TTtitle">TIMETABLE</h1>
<p class="TTtext">This is an example of an average week at Next Gen Academy. Our combination of pre recorded and live classess means that you can adapt and mould our classes  and challenges to your schedule.

Live classes take place over zoom with our world class teachers and are required to be taken live!

Challenges are set by our department heads and can be completed in students own time, we have course assistants who work with students to optimise schedules.

1-1 lessons are scheduled each week and allow teachers and students to gain critical time primarily working on audition material and technique.</p>
</div>
