<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">TUESDAY</h1>
  <h1 class="weektitle">WEEK ONE</h1>
  </div>
  <div class="subnav1">
      <a class="subnavbtn1" href="#">Private Singing Lesson (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
          You should have now been given your one-to-one singing slot with our expert singing teacher.
          Together you will work to improve fundamentals of singing technique as well as selecting a bulletproof audition song
          to smash your audition and help put you in the position to kick start your career.
          <br>
          Things to remember - hydrate, relax, have fun!
        </p>
      </div>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Work through monologue exercise (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>Your acting task for today is to find your first monologue!
    This may sound like a super easy task, however there is so much to take in account when choosing a monologue so I want you to answer IN DEPTH these questions. Each answer should be around 5-6 lines minimum.
    <br>
    1. Why do I like this monologue? What about this monologue attracts me to it/makes me want to perform it. <br>
    2. Is this monologue right for me? Is the character similar to me? Can I relate to what they are going through or describing? <br>
    3. Where is the monologue from? Playwright, Author? Who performed it originally? What is the play called? <br>
    4. Describe the character. Where are they from? What do they look like? Describe them in detail. <br>
    5. Context? What has just happened to the character before this moment? <br>
    </p>
      </div>
  </div>
</div>
