<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">TUESDAY</h1>
  <h1 class="weektitle">WEEK TWO</h1>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Private Singing Lesson (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
          You should have now been given your one-to-one singing slot with our expert singing teacher.
          Together you will work to improve fundamentals of singing technique as well as selecting a bulletproof audition song
          to smash your audition and help put you in the position to kick start your career.
          <br>
          Things to remember - hydrate, relax, have fun!
        </p>
      </div>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Acting Challenge: Context! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>Let’s start thinking about the context of your monologue. First things first, who is this character you’re portraying?
<br>
1. Write a description of what your character looks like.
<br>
2. Write a description of your characters personality.
<br>
3. What does your character want?!
<br>
4. What has happened just before this moment
<br>
5. Who are they talking to/about?
<br>
6. How are they different at the beginning/end of the monologue
    </p>
      </div>
  </div>

  <div class="subnav1">
      <a class="subnavbtn1" href="#">Complete singing homework! (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>You got this!
    </p>
  </div>
</div>


</div>
