<div class="coursemain">
  <div class="titlebox">
  <h1 class="coursetitle">WEDNESDAY</h1>
  <h1 class="weektitle">WEEK THREE</h1>
  </div>

    <div class="subnav1">
      <a class="subnavbtn1" href="#">Yoga Class (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <div class="videobox">
        <p class='subnavtext-vid'>Today we're going to start with a yoga class from our yoga practitioner Carlie, as a west end leading she knows
          how important it is to find ways to strengthen and stretch muscles simulataneously.
          <br>
          Yoga pretty much ticks all boxes in this regard
          ansd works as a perfect way to warm up and challenge yourself to start your day.</p>
      <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
      </div>
      </div>
    </div>
  <div class="subnav1">
      <a class="subnavbtn1" href="#">Prepare monologues for presentation. (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
          Now we’ve completed the context involved in the monologue, let’s look at the actual performance of it.
 A monologue doesn’t have a plan. They say a line, don’t get what they want, they say a little more and so on. They are always trying to do something or achieve something with their words which causes them to keep speaking. If they got what they wanted they would shut up!
<br>
1. Mark out on your monologues where there is a change of thought, and why it happens there.
<br>
2 Rehearse your monologue - aloud - with particular attention to the change and development that happens as you progress from new thought.
<br>
We’re going to mark out on our monologues where we believe there is a change of thought and why. Humans change and have incredible minds what makes an incredible actor is the ability to make it look spontaneous! We are constantly changing, coming up with new ideas, moving on to the next one, evolving, developing and reacting.
<br>
What we’re trying to avoid is having one long piece where you ‘play the mood’, where the actor is trying to make the audience feel the emotion of a piece and rolls on and on with this, as opposed to seeing the light and shade, the depth in a piece.
<br>
Now perform your piece in sections, with a laser focus on the different objectives your character has for each section.
        </p>
      </div>
  </div>

  <div class="subnav1">
    <a class="subnavbtn1" href="#">Attend live commercial class (1 hour)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>Today you will have a commercial dance classes with Zeb Simpson, Zeb has worked all over the world with some of the industry's biggest choreographers.
          <br>
          Josh has also performed with Ru Paul's Drag Race stars on international tours. He will go through the fundamentals of commercial dance, how to pick up routines quickly
          and how to add some of your own personality and flair to dance pieces.
          <br>
        </p>
      <h5>
       ZOOM LINK
       </h5>
    </div>
  </div>

</div>
