<div class="coursemain">
<div class="titlebox">
  <h1 class="coursetitle">WEDNESDAY</h1>
  <h1 class="weektitle">WEEK ONE</h1>
  </div>


  <div class="subnav1">
      <a class="subnavbtn1" href="#">Yoga Class (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <div class="videobox">
        <p class='subnavtext-vid'>Today we're going to start with a yoga class from our yoga practitioner Carlie, as a west end leading she knows
          how important it is to find ways to strengthen and stretch muscles simulataneously.
          <br>
          Yoga pretty much ticks all boxes in this regard
          ansd works as a perfect way to warm up and challenge yourself to start your day.</p>
      <div class="inlinevid"><%= image_tag('youtubeimg', class:"vid") %></div>
      </div>
      </div>
    </div>
  <div class="subnav1">
      <a class="subnavbtn1" href="#">Prepare monologues for presentation. (30 mins)  <i class="fa fa-caret-down"></i></a>
      <div class="line"></div>
      <div class="subnav-content1">
        <p class='subnavtext'>
          Your task today is to prepare a small presentation for your solo acting lessons.
          <br>Give us a brief overview of the monologues content. We want you to tell us why you think this monologue is best for you.
          <br>Give us a brief overview of the story. Tell us about what has just happened before this.
          <br>Tell us about the character, in detail!
          <br>How does this show off your talent and what you can do?
        </p>
      </div>
  </div>

  <div class="subnav1">
    <a class="subnavbtn1" href="#">Attend live commercial class (1 hour)  <i class="fa fa-caret-down"></i></a>
    <div class="line"></div>
    <div class="subnav-content1">
      <p class='subnavtext'>Today you will have a commercial dance classes with Zeb Simpson, Zeb has worked all over the world with some of the industry's biggest choreographers.
          <br>
          Josh has also performed with Ru Paul's Drag Race stars on international tours. He will go through the fundamentals of commercial dance, how to pick up routines quickly
          and how to add some of your own personality and flair to dance pieces.
          <br>
        </p>
      <h5>
       ZOOM LINK
       </h5>
    </div>
  </div>


</div>
