 <div class="topnav">
  <%= image_tag('profile-image', class:'profile-image') %>
  <a class="active" href="#home">HOME</a>
  <a href="#news">THE COURSE</a>
  <a href="#contact">ABOUT US</a>
  <a href="#about">FAQs</a>
</div>
